<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="/layout">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Trang Giới Thiệu</title>
    </head>
    <body>
       <p layout:fragment="content">
      <h1 style="text-align: center;"> Website Quản Lý Thư Viện</h1>
       <br/>
<b>I - CHỨC NĂNG</b>
 <br/>
<p>Quản lý công tác thông tin - thư viện phục vụ công tác đào tạo, nghiên cứu khoa học và chuyển giao công nghệ của nhà trường;
 <br/>
Khai thác, bổ sung, quản lý và phát triển nguồn lực thông tin của Thư viện từ các nguồn trong và ngoài nước đáp ứng nhu cầu đào tạo, nghiên cứu khoa học và chuyển giao công nghệ của nhà trường;
Tổ chức, quản lý và phát triển các dịch vụ thông tin - tư liệu trong Thư viện;
 <br/>
Quản lý, vận hành trang thiết bị và hệ thống thông tin số của Thư viện;
 <br/>
Nghiên cứu, ứng dụng các công nghệ và các chuẩn nghiệp vụ tiên tiến vào hoạt động thư viện </p>
 <br/>
<b>II - NHIỆM VỤ</b>
 <br/>
     1. Thực hiện chức năng quản lý công tác thông tin - thư viện của Nhà trường
 <br/>
 <p>
Tham mưu cho Hiệu trưởng tổ chức, quản lý và triển khai các hoạt động thông tin-thư viện nhằm phục vụ đào tạo, nghiên cứu khoa học và chuyển giao công nghệ trong trường ĐHBK Hà nội;
Xây dựng chiến lược phát triển các kế hoạch ngắn hạn và dài hạn của Thư viện theo các chức năng, nhiệm vụ đã được phân công;
Xây dựng qui hoạch, kế hoạch, tổ chức bồi dưỡng chuyên môn, nghiệp vụ, ngoại ngữ, tin học cho cán bộ thư viện để phát triển nguồn nhân lực có chất lượng nhằm nâng cao hiệu quả công tác.
</p>
 <br/>
2. Thực hiện chức năng khai thác, bổ sung, quản lý và phát triển nguồn lực thông tin của Thư viện
 <br/>
 <p>
Phối hợp với tất cả các Khoa, Viện, Phòng ban, Trung tâm, trong việc lựa chọn, bổ sung tài liệu nhằm phát huy hiệu quả công tác, phục vụ tốt nhất cho mục tiêu đào tạo của nhà trường;
Thu nhận lưu chiểu các tài liệu do nhà trường xuất bản, các công trình nghiên cứu khoa học đã được nghiệm thu, tài liệu hội nghị, hội thảo, luận văn thạc sỹ, luận án tiến sỹ, …;
Liên kết hợp tác với các thư viện trong và ngoài nước trong lĩnh vực phối hợp bổ sung và trao đổi tài liệu, chia sẻ nguồn lực thông tin;
Xử lý nghiệp vụ tất cả các tài liệu bổ sung vào Thư viện;
Tổ chức hệ thống tra cứu thông tin đáp ứng nhu cầu của người dùng tin.
</p>
 <br/>
3. Thực hiện chức năng tổ chức, quản lý và phát triển các dịch vụ thông tin – tư liệu trong Thư viện.
 <br/>
 <p>
Tổ chức xử lý, sắp xếp, lưu trữ, bảo quản thông tin - tư liệu trong Thư viện;
Tổ chức phục vụ, hướng dẫn cho người dùng tin khai thác, tìm kiếm, sử dụng hiệu quả nguồn tài liệu và các sản phẩm dịch vụ thông tin - thư viện;
Kiểm kê định kỳ vốn tài liệu của thư viện; tiến hành thanh lý và loại bỏ các tài liệu lạc hậu, hư nát theo quy định;
Phối hợp với tất cả các Khoa, Viện, Phòng ban, Trung tâm trong công tác cấp thẻ và quản lý bạn đọc.
</p>
 <br/>

4. Thực hiện chức năng quản lý, vận hành trang thiết bị và hệ thống thông tin số của thư viện
 <br/>
 <p>
Quản lý, vận hành trang thiết bị của Thư viện;
Quản lý, vận hành khai thác các phần mềm Thư viện;
Kiểm kê định kỳ trang thiết bị của Thư viện;
Xây dựng, quản lý các cơ sở dữ liệu của Thư viện;
Triển khai các ứng dụng CNTT vào hoạt động thư viện. 
</p>
 <br/>
5. Thực hiện chức năng nghiên cứu, ứng dụng các công nghệ và các chuẩn nghiệp vụ tiên tiến vào hoạt động thư viện
 <br/>
 <p>
Nghiên cứu, ứng dụng các tiêu chuẩn tiên tiến vào công tác nghiệp vụ thư viện;
Nghiên cứu, ứng dụng các công nghệ hiện đại vào công tác thư viện;
Mở rộng hợp tác với các cơ quan, tổ chức trong nước và quốc tế về lĩnh vực khoa học thư viện, tham gia các hoạt động về nghiệp vụ với hệ thống thư viện trong nước nhằm thúc đẩy sự nghiệp thư viện Việt Nam phát triển.
 </p>    
       </p>
    </body>
</html>