<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout">
<head>
<title>Trang Quản Lý Lập Thẻ Thư Viện</title>
</head>
<body>
	<p layout:fragment="content">
		<link href="../../resources/css/datepicker.css" rel="stylesheet"
			type="text/css" th:href="@{/resources/css/datepicker.css}" />
	<div class="row">
		<div class="col-xs-12">

			<div class="box box-primary col-xs-12">
				<div class="box-header">
					<h3 class="box-title">Lập Thẻ Độc Giả</h3>
				</div>


				<form action="#" th:action="@{/the/lapthe}" method="post" th:object ="${theUI}" name="myform" id="myform">
					<div class="box-body">
						 <p th:if="${info}" style="color: red">Tạo thẻ độc giả thành công!</p>
						<div class="col-sm-6 col-lg-6 col-md-6">

							<div class="form-group">
								<label>Mã Độc Giả</label> 
								<select class="form-control"  id="dgs">
									<option th:each = "dG : ${dGUIs}" th:value="${dG.maDG}" th:text ="${dG.tenDG}">DG01</option>								
								</select>
							</div>
								<!-- /.form group -->
							<div class="form-group">
								<label for="maThe">Mã Thẻ</label> <input type="text"
									class="form-control" id="maThe" placeholder="Mã Thẻ" th:field="*{maThe}" readonly="readonly"/>
							</div>
							<div class="form-group" >
								<label>Ngày Lập Thẻ:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" class="form-control" id="ngayLapThe"
										placeholder="Ngày Lập Thẻ" th:field="*{ngayLapThe}"/>
								</div>
								<!-- /.input group -->
							</div>
							
							<div class="form-group">
								<label>Ngày Hết Hạn:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" class="form-control" id="ngayHetHan"
										placeholder="Ngày Hết Hạn" th:field="*{ngayHetHan}" />
								</div>
								<!-- /.input group -->
							</div>
							<div class="form-group" >
								<label>Loại Thẻ</label> <select class="form-control" th:field = "*{loaiThe}">
									<option value="Thẻ Đọc">Thẻ Đọc</option>
									<option value="Thẻ Mượn">Thẻ Mượn</option>
									<option value = "Thẻ Liên Kết">Thẻ Liên Kết</option>
								</select>
							</div>
							<div class="form-group">
							<label for="gioiTinh">Giới Tính</label> <input type="text"
									class="form-control" id="gioiTinh" placeholder="Giới Tính" th:field = "*{gioiTinh}" readonly="readonly"/>
							</div>
							
		
						</div>
						<div class="col-sm-6 col-lg-6 col-md-6">
						<div class="form-group">
							<label for="maDG">Mã Độc Giả</label> <input type="text"
									class="form-control" id="maDG" placeholder="Mã Độc Giả" th:field = "*{maDG}" readonly="readonly"/>
							</div>
							<div class="form-group">
								<label for="tenDG">Họ Tên Độc Giả</label> <input type="text"
									class="form-control" id="tenDG" placeholder="Tên Độc Giả" th:field = "*{tenDG}" readonly="readonly"/>
							</div>
						<div class="form-group">
								<label for="loaiDG">Loại Độc Giả </label> <input type="text"
									class="form-control" id="loaiDG" placeholder="Loại Độc Giả" th:field = "*{loaiDG}" readonly="readonly"/>
							</div>
							<div class="form-group">
								<label>Ngày Sinh:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" class="form-control" id="ngaySinh"
										placeholder="Ngày Sinh" th:field = "*{ngaySinh}" readonly="readonly" />
								</div>
								<!-- /.input group -->
							</div>
							<div class="form-group">
								<label for="diaChi">Địa Chỉ</label> <input type="text"
									class="form-control" id="diaChi" placeholder="Địa Chỉ"  th:field= "*{diaChi}" readonly="readonly"/>
							</div>

							<div class="form-group">
								<label for="dienThoai">Điện Thoại</label> <input type="text"
									class="form-control" id="dienThoai" placeholder="Điện Thoại" th:field = "*{dienThoai}" readonly="readonly"/>
							</div>
							<div class="form-group">
								<label for="email">Địa Chỉ Email</label> <input
									type="email" class="form-control" id="email"
									placeholder="Địa Chỉ Email" th:field= "*{email}" readonly="readonly" />
							</div>
							
							
						</div>
						
					</div>
					<div class="box-footer col-sm-12 col-lg-12 col-md-12">
						<div th:if="${displayBtn != null}  "><button type="submit" class="btn btn-primary">Tạo Thẻ</button></div>
					</div>
				</form>

			</div>

		</div>
	</div>
	<script src="../../resources/js/bootstrap-datepicker.js"
		type="text/javascript"
		th:src="@{/resources/js/bootstrap-datepicker.js}"></script>
	<script type="text/javascript">
   					$('#ngayLapThe').datepicker();
   					$('#ngaySinh').datepicker();
   					$('#ngayHetHan').datepicker();
   					$('#dgs').change(function(event) {
           				   var maDG = $(this).val();
           				   var newURL = window.location.protocol + "//" + window.location.host + "/QuanLyThuVienProject" ;
           				   $("#myform").attr("method","get");
      					   $("#myform").attr("action" ,newURL+"/the/getdg/"+maDG);
   						   document.forms["myform"].submit();    
   						
   					});
	</script>

	</p>

</body>
</html>