<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Trang Quản Lý Danh Mục Sách</title>
</head>
<body>
	<p layout:fragment="content">
		<link href="../../css/datatables/dataTables.bootstrap.css"
			th:href="@{/resources/css/datatables/dataTables.bootstrap.css}"
			rel="stylesheet" type="text/css" />
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Danh Mục Sách</h3>
					
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive">
				     <div class="input-group" style="text-align: right;margin-right: 13px;">
							<input name="table_search"
								class="form-control input-sm pull-right" style="width: 150px;"
								placeholder="Tìm kiếm sách" type="text" />
							<div class="input-group-btn">
								<button class="btn btn-sm btn-default">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					<table id="example2" class="table table-bordered table-hover">
					    <form action="#" th:action= "@{/sach/add}" style="margin-top: 10px;">
					    <button type="submit" class="btn btn-primary">Thêm Sách Mới</button>
					    </form>
						<thead>
							<tr>
								<th>Mã Sách</th>
								<th>Tên Sách</th>
								<th>Thể Loại</th>
								<th>Tác Giả</th>
								<th>Nhà Xuất Bản</th>
								<th>Năm Xuất Bản</th>
								<th>Tổng Số</th>
								<th>Chưa Mượn</th>
								<th>Ngày Nhập</th>
								<th>Tình Trạng</th>
								<th>Số Trang</th>
								<th>Ngôn Ngữ</th>
								<th>Hành Động</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each = "s : ${sachUIs}">
								<td th:text = "${s.maSach}">S01</td>
								<td th:text = "${s.tenSach}">Programming Java JPA</td>
								<td th:text = "${s.theLoaiUI}">IT</td>
								<td th:text = "${s.tacGia}">Rick Huy</td>
								<td th:text = "${s.nhaXuatBan}">Kim Đồng</td>
								<td th:text = "${s.namXuatBan}">2002</td>
								<td th:text = "${s.tongSoBan}">10</td>
								<td th:text = "${s.soBanChuaMuon}">3</td>
								<td th:text = "${s.ngayNhap}">20.5.2012</td>
								<td th:text = "${s.tinhTrang}">Tốt</td>
								<td th:text = "${s.soTrang}">250</td>
								<td th:text = "${s.ngonNgu}">Tiếng anh</td>
								<td>
								<a href="#" th:href="@{/sach/delete(maSach=${s.maSach})}"><i class="fa fa-fw fa-times"></i> Xóa</a>
								<br/>
								 <a href="#" th:href="@{/sach/edit(maSach=${s.maSach})}"><i class="fa fa-fw fa-wrench"></i> Sửa </a>
								
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->
			</div>

		</div>
        
	</div>
	<!-- DATA TABES SCRIPT -->
	<script src="../../js/plugins/datatables/jquery.dataTables.js"
		type="text/javascript"
		th:src="@{/resources/js/plugins/datatables/jquery.dataTables.js}"></script>
	<script src="../../js/plugins/datatables/dataTables.bootstrap.js"
		type="text/javascript"
		th:src="@{/resources/js/plugins/datatables/dataTables.bootstrap.js}"></script>
	<!-- InputMask -->
	<script src="../../js/plugins/input-mask/jquery.inputmask.js"
		th:src="@{/resources/js/plugins/input-mask/jquery.inputmask.js}"
		type="text/javascript"></script>
	<script
		src="../../js/plugins/input-mask/jquery.inputmask.date.extensions.js"
		th:src="@{/resources/js/plugins/input-mask/jquery.inputmask.date.extensions.js}"
		type="text/javascript"></script>
	<script
		src="../../js/plugins/input-mask/jquery.inputmask.extensions.js"
		th:src="@{/resources/js/plugins/input-mask/jquery.inputmask.extensions.js}"
		type="text/javascript"></script>
	<!-- page script -->
	<script type="text/javascript">
            $(function() {
                $("#example1").dataTable();
                $('#example2').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>
	</p>

</body>
</html>