<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Trang Quản Lý Danh Mục Độc Giả</title>
</head>
<body>
	<p layout:fragment="content">
		<link href="../../css/datatables/dataTables.bootstrap.css"
			th:href="@{/resources/css/datatables/dataTables.bootstrap.css}"
			rel="stylesheet" type="text/css" />
	<div class="row">
		<div class="col-xs-12">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">Danh Mục Độc Giả</h3>
					
				</div>
				<!-- /.box-header -->
				<div class="box-body table-responsive">
				  <div class="input-group" style="text-align: right;margin-right: 13px;">
							<input name="table_search"
								class="form-control input-sm pull-right" style="width: 150px;"
								placeholder="Tìm kiếm Độc Giả" type="text" />
							<div class="input-group-btn">
								<button class="btn btn-sm btn-default">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>   
					<table id="example2" class="table table-bordered table-hover">
					    <form action="#" th:action= "@{/docgia/add}" style="text-align: center;">
					    <button type="submit" class="btn btn-primary">Thêm Độc Giả</button>
					    </form>
						<thead>
							<tr>
								<th>Mã Độc Giả</th>
								<th>Họ Và Tên Độc Giả</th>
								<th>Ngày Sinh</th>
								<th>Giới Tính</th>
								<th>Địa Chỉ</th>
								<th>Điện Thoại</th>
								<th>E-mail</th>
								<th>Thể Loại Độc Giả</th>
								<th>Hành Động</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>DG01</td>
								<td>Trần Văn Phát</td>
								<td>20.3.1996</td>
								<td>Nam</td>
								<td>Đà Nẵng</td>
								<td>0978658456</td>
								<td>tvp@gmail.com</td>
								<td>Sinh Viên</td>
								<td>
								<a href="#" th:href="@{/docgia/delete(id=1)}"><i class="fa fa-fw fa-times"></i> Xóa Độc Giả</a>
								<br/>
								 <a href="#" th:href="@{/docgia/edit(id=1)}"><i class="fa fa-fw fa-wrench"></i> Sửa Độc Giả </a>
								
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->
			</div>

		</div>
        
	</div>
	<!-- DATA TABES SCRIPT -->
	<script src="../../js/plugins/datatables/jquery.dataTables.js"
		type="text/javascript"
		th:src="@{/resources/js/plugins/datatables/jquery.dataTables.js}"></script>
	<script src="../../js/plugins/datatables/dataTables.bootstrap.js"
		type="text/javascript"
		th:src="@{/resources/js/plugins/datatables/dataTables.bootstrap.js}"></script>
	<!-- InputMask -->
	<script src="../../js/plugins/input-mask/jquery.inputmask.js"
		th:src="@{/resources/js/plugins/input-mask/jquery.inputmask.js}"
		type="text/javascript"></script>
	<script
		src="../../js/plugins/input-mask/jquery.inputmask.date.extensions.js"
		th:src="@{/resources/js/plugins/input-mask/jquery.inputmask.date.extensions.js}"
		type="text/javascript"></script>
	<script
		src="../../js/plugins/input-mask/jquery.inputmask.extensions.js"
		th:src="@{/resources/js/plugins/input-mask/jquery.inputmask.extensions.js}"
		type="text/javascript"></script>
	<!-- page script -->
	<script type="text/javascript">
            $(function() {
                $("#example1").dataTable();
                $('#example2').dataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": false,
                    "bSort": true,
                    "bInfo": true,
                    "bAutoWidth": false
                });
            });
        </script>
	</p>

</body>
</html>