<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout">
<head>
<title>Trang Quản Lý Danh Mục Sách</title>
</head>
<body>
	<p layout:fragment="content">
		<link href="../../resources/css/datepicker.css" rel="stylesheet"
			type="text/css" th:href="@{/resources/css/datepicker.css}" />
	<div class="row">
		<div class="col-xs-12">

			<div class="box box-primary col-xs-12">
				<div class="box-header">
					<h3 class="box-title">Thêm Độc Giả Mới</h3>
				</div>


				<form action="#" th:action = "@{/docgia/add}" method="post" th:object = "${dGUI}">
					<div class="box-body">
						
						<div class="col-sm-4 col-lg-4 col-md-4">
							<div class="form-group">
								<label for="maDG">Mã Độc Giả</label> <input type="text"
									class="form-control" id="maDG" placeholder="Mã Độc Giả" readonly="readonly" th:field="*{maDG}" />
							</div>
								<div class="form-group">
								<label for="hoTenDG">Họ Tên Độc Giả</label> <input type="text"
									class="form-control" id="hoTenDG" placeholder="Nhập Họ Tên Độc Giả" th:field="*{tenDG}" />
							</div>
							
							<div class="form-group">
								<label>Loại Độc Giả</label> <select class="form-control" th:field="*{loaiDG}">
									<option th:each ="lDG : ${lDGUIs}" th:value="${lDG.maDG}" th:text="${lDG.tenDG}">Sinh Viên</option>
								
								</select>
								<a href="#" th:href="@{/loaidg/list}" style="float: right;margin-top: 5px;"><i class="fa fa-fw fa-wrench"></i>Thêm Loại Độc Giả</a>
							</div>
						
							
						</div>
			
						<div class="col-sm-4 col-lg-4 col-md-4">
								<div class="form-group">
								<label for="diaChi">Địa Chỉ</label> <input type="text"
									class="form-control" id="diaChi" placeholder="Địa Chỉ" th:field="*{diaChi}" />
							</div>
							<div class="form-group">
								<label for="dienThoai">Điện Thoại</label> <input type="text"
									class="form-control" id="dienThoai" placeholder="Điện Thoại" th:field="*{dienThoai}" />
							</div>
							<div class="form-group">
								<label for="email">Địa Chỉ Email</label> <input
									type="email" class="form-control" id="email"
									placeholder="Địa Chỉ Email" th:field="*{email}" />
							</div>

						</div>
						
						<div class="col-sm-4 col-lg-4 col-md-4">
							<div class="form-group">
								<label>Ngày Sinh:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" class="form-control" id="ngaySinh" th:field="*{ngaySinh}" />
								</div>
								<!-- /.input group -->
							</div>
							
							<div class="form-group">
								<label>Giới Tính</label> <select class="form-control" th:field="*{gioiTinh}">
									<option value="Nam">Nam</option>
									<option value="Nữ">Nữ</option>
								</select>
							</div>
						</div>
					</div>
					<div class="box-footer col-sm-12 col-lg-12 col-md-12">
						<button type="submit" class="btn btn-primary" th:text = "${btnName}">Thêm Độc Giả Mới</button>
					</div>
				</form>

			</div>

		</div>
	</div>
	<script src="../../resources/js/bootstrap-datepicker.js"
		type="text/javascript"
		th:src="@{/resources/js/bootstrap-datepicker.js}"></script>
	<script type="text/javascript">
   					$('#ngaySinh').datepicker();
	</script>

	</p>

</body>
</html>